/public/desktop.ini
/src/desktop.ini
/public/scripts/desktop.ini
/desktop.ini
/client/desktop.ini
/client/src/desktop.ini
/client/.idea/
/client/public/desktop.ini
/client/public/scripts/desktop.ini
/client/src/playground/desktop.ini
